<h3>Q & A</h3>
<fieldset >
	<legend><h3>Register:</h3></legend>
	<form name="registerForm">
		<label for="">Name</label>
		<input type="text" ng-model="newUser.name" name="name" required minlength="2">
		<label for="">Email</label>
		<input type="email" ng-model="newUser.email" name="email" required>
		<input type="submit" ng-click="register(newUser)" value="Register">
	</form>
</fieldset>
<div class="errors" ng-messages="registerForm.name.$error">
<p ng-message="required">Name is required.</p>
	<p ng-message="minlength">Name must have at least 2 characters.</p>
	
</div>
<div class="errors" ng-messages="registerForm.email.$error">
	<p ng-message="required">Email is required.</p>
	<p ng-message="email">Email must be valid.</p>
</div>
<fieldset>
    <legend><h3>Login:</h3></legend>
	<form name="loginForm"> 
		<label for="">Email</label>
		<input type="email" ng-model="user.email" name="email" required >
		<input type="submit" ng-click="login(user)" value="Login">
	</form>
</fieldset>
<div class="errors" ng-messages="loginForm.email.$error">
	<p ng-message="email">Email must be valid.</p>
</div>