<a href="#!/dashboard">Dashboard</a>
<a href="#!/logout">Logout</a>
<h4><a href="#!/user/{{topic.user._id}}">{{topic.user.name}}</a> posted a topic</h4>
<b>{{topic.topic}}</b>
<p>{{topic.description}}</p>
<fieldset>
	<legend>Post your answer here</legend>
	<form>
		<textarea ng-model="newAnswer.answer" id="" cols="70" rows="3"></textarea><br>
		<input type="submit" ng-click="addAnswer(newAnswer, topic._id)" value="Add Answer">
	</form>
	<div ng-repeat="answer in topic.answers  | orderBy: '-createdAt' " >
		<p><a href="#!/user/{{answer.user._id}}">{{answer.user.name}}:</a> {{answer.answer}}</p>
		<div class="comments" ng-repeat="comment in answer.comments">
			<p><a href="#!/user/{{comment.user._id}}">{{comment.user.name}}</a> says: {{comment.comment}}</p>
			<form>
				<textarea ng-model="newComment.comment" id="" cols="50" rows="2"></textarea><br>
				<input type="submit" ng-click="addComment(newComment, answer._id)" value="Add Comment">
			</form>
			<hr>
		</div>
	</div>	
</fieldset>